@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h1 class="text-danger">Ошибка.</h1>
<h2 class="text-danger">Произошла ошибка во время обработки вашего запроса.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Идентификатор запроса:</strong> <code>@Model.RequestId</code>
    </p>
}