@{
    ViewData["Title"] = "Справка";
}

<h1>Справка</h1>
<hr />
<h2>Основная матрица</h2>
<p>Эта страница предназначена для создания базлайна на основе предыдущего.</p>
<p>
    Чтобы добавить цену надо нажать на кнопку "Добавить цену", откроется форма, которую надо заполнить и нажать кнопку "Добавить". Для удаления существует соответствующая кнопка у каждой записи. 
</p>
<p>
    Для поиска вы можете написать в текстовые поля и нажать кнопку "Искать". Чтобы сбросить поиск очистите поля и нажмите кнопку "Искать".
</p>
<p>
    В конце не забудьте нажать "Сохранить".
</p>
<h2>Скидочные матрицы</h2>
<p>Эта страница предназначена для просмотра всех скидочных матриц, и создания новых.</p>
<h2>История матриц</h2>
<p>Эта страница предназначена для просмотра всех матриц.</p>
<h2>Создание стороджа</h2>
<p>Эта страница предназначена для выбора матриц и отправки ее в дата-центр.</p>