USE [master]
GO
/****** Object:  Database [AviDB]    Script Date: 14.03.2024 2:24:59 ******/
CREATE DATABASE [AviDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AviDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AviDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AviDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AviDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AviDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AviDB]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTreePath]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTreePath](
	[ancestor] [int] NOT NULL,
	[descendant] [int] NOT NULL,
	[depth] [int] NOT NULL,
 CONSTRAINT [PK_CategoryTreePath] PRIMARY KEY CLUSTERED 
(
	[ancestor] ASC,
	[descendant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CellMatrix]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CellMatrix](
	[IdCellMatrix] [int] IDENTITY(1,1) NOT NULL,
	[Price] [decimal](7, 2) NULL,
	[IdLocation] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[IdMatrix] [int] NOT NULL,
 CONSTRAINT [PK_CellMatrix] PRIMARY KEY CLUSTERED 
(
	[IdCellMatrix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CellMatrix] UNIQUE NONCLUSTERED 
(
	[IdLocation] ASC,
	[IdCategory] ASC,
	[IdMatrix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[IdLocation] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[IdLocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationTreePath]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationTreePath](
	[ancestor] [int] NOT NULL,
	[descendant] [int] NOT NULL,
	[depth] [int] NOT NULL,
 CONSTRAINT [PK_LocationTreePath] PRIMARY KEY CLUSTERED 
(
	[ancestor] ASC,
	[descendant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matrix]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matrix](
	[IdMatrix] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IdUserSegment] [int] NULL,
 CONSTRAINT [PK_Matrix] PRIMARY KEY CLUSTERED 
(
	[IdMatrix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSegment]    Script Date: 14.03.2024 2:25:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSegment](
	[IdUserSegment] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserSegment] PRIMARY KEY CLUSTERED 
(
	[IdUserSegment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LocationTreePath] ADD  CONSTRAINT [DF_LocationTreePath_level]  DEFAULT ((0)) FOR [depth]
GO
ALTER TABLE [dbo].[CategoryTreePath]  WITH CHECK ADD  CONSTRAINT [FK_CategoryTreePath_Category] FOREIGN KEY([ancestor])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[CategoryTreePath] CHECK CONSTRAINT [FK_CategoryTreePath_Category]
GO
ALTER TABLE [dbo].[CategoryTreePath]  WITH CHECK ADD  CONSTRAINT [FK_CategoryTreePath_Category1] FOREIGN KEY([descendant])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[CategoryTreePath] CHECK CONSTRAINT [FK_CategoryTreePath_Category1]
GO
ALTER TABLE [dbo].[CellMatrix]  WITH CHECK ADD  CONSTRAINT [FK_CellMatrix_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CellMatrix] CHECK CONSTRAINT [FK_CellMatrix_Category]
GO
ALTER TABLE [dbo].[CellMatrix]  WITH CHECK ADD  CONSTRAINT [FK_CellMatrix_Location] FOREIGN KEY([IdLocation])
REFERENCES [dbo].[Location] ([IdLocation])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CellMatrix] CHECK CONSTRAINT [FK_CellMatrix_Location]
GO
ALTER TABLE [dbo].[CellMatrix]  WITH CHECK ADD  CONSTRAINT [FK_CellMatrix_Matrix] FOREIGN KEY([IdMatrix])
REFERENCES [dbo].[Matrix] ([IdMatrix])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CellMatrix] CHECK CONSTRAINT [FK_CellMatrix_Matrix]
GO
ALTER TABLE [dbo].[LocationTreePath]  WITH CHECK ADD  CONSTRAINT [FK_LocationTreePath_Location] FOREIGN KEY([ancestor])
REFERENCES [dbo].[Location] ([IdLocation])
GO
ALTER TABLE [dbo].[LocationTreePath] CHECK CONSTRAINT [FK_LocationTreePath_Location]
GO
ALTER TABLE [dbo].[LocationTreePath]  WITH CHECK ADD  CONSTRAINT [FK_LocationTreePath_Location1] FOREIGN KEY([descendant])
REFERENCES [dbo].[Location] ([IdLocation])
GO
ALTER TABLE [dbo].[LocationTreePath] CHECK CONSTRAINT [FK_LocationTreePath_Location1]
GO
ALTER TABLE [dbo].[Matrix]  WITH CHECK ADD  CONSTRAINT [FK_Matrix_UserSegment] FOREIGN KEY([IdUserSegment])
REFERENCES [dbo].[UserSegment] ([IdUserSegment])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Matrix] CHECK CONSTRAINT [FK_Matrix_UserSegment]
GO
USE [master]
GO
