@{
    ViewData["Title"] = "Home Page";
}
<style>
    .wj-control {
        margin-bottom: 6px;
    }

    .wj-treeview {
        display: block;
        font-size: 120%;
        margin-bottom: 8px;
        padding: 6px;
        background: #f0f0f0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    body {
        margin-bottom: 24pt;
    }
</style>
<div class="container-fluid">
    <label for="search">Search: </label>
    <div id="search"></div>
    <div id="theTree"></div>

</div>

<script>
    document.readyState === 'complete' ? init() : window.onload = init;
    class searchItem {
    }
    function getSearchList(items, searchList, path) {
        // set defaults
        if (searchList == null)
            searchList = [];
        if (path == null)
            path = '';
        // add items and sub-items
        for (var i = 0; i < items.length; i++) {
            var item = items[i];
            searchList.push({
                item: item,
                path: path + item.header,
                keywords: item.keywords
            });
            if (item.items) {
                getSearchList(item.items, searchList, path + item.header + ' / ');
            }
        }
        return searchList;
    }
    function init() {
        // create the tree
        var tree = new wjNav.TreeView('#theTree', {
            itemsSource: getData(),
            displayMemberPath: 'header',
            childItemsPath: 'items',
        });
        // create the search AutoComplete
        var search = new wjInput.AutoComplete('#search', {
            itemsSource: getSearchList(tree.itemsSource),
            selectedIndex: -1,
            displayMemberPath: 'path',
            searchMemberPath: 'keywords',
            selectedIndexChanged: function (s) {
                if (s.selectedItem) {
                    tree.selectedItem = s.selectedItem.item;
                }
            }
        });
    }
    export function getData() {
        return [
            {
                header: 'Electronics', items: [
                    { header: 'Trimmers/Shavers', keywords: 'beard hair' },
                    { header: 'Tablets', keywords: 'screen computer android ios facebook' },
                    {
                        header: 'Phones', keywords: 'talk listen email facebook', items: [
                            { header: 'Apple' },
                            { header: 'Motorola' },
                            { header: 'Nokia' },
                            { header: 'Samsung' }
                        ]
                    },
                    { header: 'Speakers', keywords: 'music loudspeaker' },
                    { header: 'Monitors', keywords: 'screen color lcd oled' }
                ]
            },
            {
                header: 'Toys', items: [
                    { header: 'Shopkins', keywords: 'animals collectibles' },
                    { header: 'Train Sets', keywords: 'models rail collectibles' },
                    { header: 'Science Kit', keywords: 'education physics chemistry' },
                    { header: 'Play-Doh', keywords: 'clay sculpt models' },
                    { header: 'Crayola', keywords: 'drawing painting wax chalk pencils' }
                ]
            },
            {
                header: 'Home', items: [
                    { header: 'Coffee Maker', keywords: 'kitchen appliance drink' },
                    { header: 'Breadmaker', keywords: 'kitchen appliance food cooking' },
                    { header: 'Solar Panel', keywords: 'electric sun renewable energy' },
                    { header: 'Work Table', keywords: 'shop tools' },
                    { header: 'Propane Grill', keywords: 'food cooking barbecue meat' }
                ]
            }
        ];
    }
</script>
