@{
    ViewData["Title"] = "Главная";
}

<div class="container d-flex flex-nowrap">

    <ul class="tree">
        <li>
            <details open>
                <summary>ROOT</summary>
                <ul>
                    <li>
                        <details>
                            <summary><a asp>Электроника</a></summary>
                            <ul>
                                <li>Компуктеры</li>
                                <li>Мониторы</li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Автобусы</summary>
                            <ul>
                                <li>Ur anus</li>
                                <li>Neptune</li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>

    <ul class="tree">
        <li>
            <details open>
                <summary>всё</summary>
                <ul>
                    <li>
                        <details>
                            <summary><a asp-action="Privacy">Московская обл</a></summary>
                            <ul>
                                <li>чевапчичи</li>
                                <li>Мониторы</li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary>Автобусы</summary>
                            <ul>
                                <li>Uranus</li>
                                <li>Neptune</li>
                            </ul>
                        </details>
                    </li>
                </ul>
            </details>
        </li>
    </ul>

    <form>
        <label >цена</label> <br />
        <input type="text" /><br />
        <input type="submit" class="btn btn-primary"/>
    </form>

</div>
