@model AviPriceUI.Models.CellMatrix

@{
    ViewData["Title"] = "Добавление цены";
}

<h1>Добавление цены</h1>
<hr />
<!-- Форма добавления цены -->
<div class="col-md-4">
    <form asp-action="Create">
        <!-- Валидационное сообщение -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!-- Поле для ввода цены -->
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <!-- Выбор местоположения -->
        <div class="form-group">
            <label asp-for="IdLocation" class="control-label"></label>
            <select asp-for="IdLocation" class="form-control" asp-items="ViewBag.IdLocation"></select>
        </div>

        <!-- Выбор категории -->
        <div class="form-group">
            <label asp-for="IdCategory" class="control-label"></label>
            <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
        </div>

        <!-- Скрытое поле для идентификатора матрицы -->
        <div class="form-group" hidden>
            <label asp-for="IdMatrix" class="control-label"></label>
            <select asp-for="IdMatrix" class="form-control" asp-items="ViewBag.IdMatrix"></select>
        </div>

        <!-- Кнопка отправки формы и сообщение об ошибке -->
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-primary" />
            <span class="text-danger">@Model.ErrorMessage</span>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-route-id="IdMatrix">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
