@model CellMatricesViewModel

@{
    ViewData["Title"] = Model.MatrixName;
}

<h1>@Model.MatrixName</h1>

<form asp-action="IndexNotEdit">
    <div class="row">
        <div class="col-md-4 d-flex">
            <input asp-for="SearchCategoryText" type="text" class="form-control" placeholder="Поиск...">
            <input type="submit" name="submitButton" class="btn btn-primary" value="Искать" />
        </div>
        <div class="col-md-4 d-flex">
            <input asp-for="SearchLocationText" type="text" class="form-control" placeholder="Поиск...">
            <input type="submit" name="submitButton" class="btn btn-primary" value="Искать" />
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="text-black">Категория</span>
            </th>
            <th>
                    <span class="text-black">Локация</span>
			</th>
			<th>
                    <span class="text-black">Цена</span>
			</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CellMatrices)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoryNavigation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdLocationNavigation.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
    </tbody>
</table>       
</form>