@model AviPriceUI.Models.CellMatricesViewModel

@{
    ViewData["Title"] = Model.MatrixName;
}

<h1>@Model.MatrixName</h1>

<form asp-action="Index">
<p>
    <input name="submitButton" value="Добавить цену" type="submit"/>
</p>
    <input name="submitButton" type="submit" value="Сохранить" class="btn btn-primary" />
    <span class="text-danger">@Model.ErrorMessage</span>
    <input asp-for="@Model.IdUserSegment" type="hidden" />
<table class="table">
    <thead>
        <tr>
            <th>
                <span class="text-black">Категория</span>
            </th>
            <th>
                    <span class="text-black">Локация</span>
			</th>
			<th>
                    <span class="text-black">Цена</span>
			</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @Html.EditorFor(model => Model.CellMatrices)
    </tbody>
</table>       
</form>